body {
	margin: 20px;
}

#container {
	margin: 80px auto 20px;
	max-width: 500px;
	position: relative;
}

#icons span {
	color: #f00;
	left: -20px;
	position: absolute;
	text-align: center;
	z-index: 20;
}

#icons span img {
	width: 20px;
}

#icons span:hover img {
	margin: -20px 0 0 20px;
	width: auto;
}

#play {
	background: #ffe;
	font-family: monospace;
	padding: 20px;
	position: relative;
}

#stage {
	box-shadow: 1px 2px 5px #ccc;
	display: block;
	margin: 20px auto;
	position: relative;
}

#controls {
	text-align: center;
}

#controls img {
	display: block;
	margin: auto;
}

#bar {
	border: 1px solid #000;
	display: none;
	height: 2px;
	margin: 20px auto;
	max-width: 500px;
}

#progress {
	background: rgb(77, 144, 254);
	height: 2px;
	width: 0%;
}

#results {
	text-align: center;
}

#footer {
	margin-top: 20px;
	font: 11px monospace;
	text-align: center;
}
